html {
  	box-sizing: border-box;
}
*, *:before, *:after {
 	box-sizing: inherit;
}
.title p {
	text-align: center;
	font-family: 'Megrim', cursive;
	font-size: 4em;
}
#search {
	text-align: center;
}
.series-title {
	text-align: center;
	font-size: 2em;
}
.series-title p {
	margin-bottom: 0;
}
.series-plot {
	text-align: center;
	font-size: 1.5em;
}
.series-plot p {
	margin-top: 10px;
}
