html {
  	box-sizing: border-box;
}
*, *:before, *:after {
 	box-sizing: inherit;
}
body {
	font-family: 'Raleway', sans-serif;
	background-color: #1E88E5;
}
.app-title {
	background-color: #0D47A1;
	margin-top: 0;
	padding: 1px 0;
}
.app-title p {
	text-align: center;
	font-family: 'Megrim', cursive;
	font-size: 4em;
	color: #FFFFFF;
}
.title {
	opacity: 0.8;
	word-wrap: break-word;
	display: none;
}
#search-term {
	background-color: #FFAB91;
}
#search {
	text-align: center;
	padding: 2em 0;
}
.series-title {
	text-align: center;
	font-size: 2em;
}
.series-title p {
	margin-bottom: 0;
	margin-top: 0;
}
.rating {
	text-align: center;
}
.material-icons {
	width: 24px;
}
.rating .series-rating {
	font-size: 2em;
	font-weight: 700;
	display: inline-block;
}
.series-plot {
	text-align: center;
	font-size: 1.5em;
}
.series-plot p {
	margin-top: 10px;
	margin-bottom: 2em;
}
#search-results {
	width: 100%;
	display: none;
}
#search-results .seasons {
	float: left;
	background-color: #9E9E9E;
	opacity: 0.8;
	word-wrap: break-word;
	overflow: scroll;
	height: 300px;
	width: 23.33%;
	margin: 2em 5%;
}
#search-results .seasons:hover {
	background-color: #CFD8DC;
	transition: ease 700ms;
}
.plot {
	border: 1px solid black;
	opacity: 0.8;
	word-wrap: break-word;
	display: none;
	margin-top: 0;
	font-style: italic;
	font-size: 12px;
	padding: 0 10px;
}
.title .series-title {
	font-size: 2.5em;
	font-weight: 800;
	margin-bottom: 0;
}
.season-title {
	font-weight: bold;
	text-align: center;
}
.season-title p {
	text-align: center;
}
.episode-title {
	padding-left: 10px;
}
.unsplash p {
	margin-right: 10px;
	position: fixed;
    right: 0;
    bottom: 0;
}