html {
  	box-sizing: border-box;
}
*, *:before, *:after {
 	box-sizing: inherit;
}
body {
	background-image: url("https://images.unsplash.com/photo-1438109519352-a52c41243c1a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=08f156a8735072ae58c13c679194297c");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.title p {
	text-align: center;
	font-family: 'Megrim', cursive;
	font-size: 4em;
}
#search {
	text-align: center;
}
/*.series-title {
	text-align: center;
	font-size: 2em;
}*/
.series-title p {
	margin-bottom: 0;
}
.series-plot {
	text-align: center;
	font-size: 1.5em;
}
.series-plot p {
	margin-top: 10px;
	margin-bottom: 2em;
}
ul {
	list-style: none;
	padding-left: 10px;
}
ul p {
	text-align: center;
}
ul li {
	text-align: left;
	font-size: 15px;
}
#search-results {
	border: 1px solid black;
	width: 33%;
	display: inline-block;
	background-color: white;
	opacity: 0.6;
	display: none;
	margin: 0 auto;
}
.season-title {
	font-weight: bold;
	text-align: center;
}
.episode-title {
	padding-left: 10px;
}
.unsplash p {
	margin-right: 10px;
	position: fixed;
    right: 0;
    bottom: 0;
} 